
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 129px;
    height: auto;
    margin-right: 15px;
}

header .logo a {
    text-decoration: none;
}

nav {
    flex-grow: 1;
    text-align: center;
    margin-left: 400px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff0000;
}

.login-btn {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
    position: relative;
    transform: translateY(-20px);
}

.login-btn:hover {
    background-color: #b30000;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


h1 {
    margin-bottom: 20px;
    color: #333;
}


label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #b30000;
}


.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #ff0000;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.footer-about h2 {
    font-size: 18px;
    color: #ff0000;
    margin-bottom: 10px;
}

.footer-about p {
    font-size: 14px;
    color: #ccc;
    margin: 0;
    max-width: 600px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}