
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 120px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff0000;
}


.cart-container {
    max-width: 1000px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}


.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    background-color: #ff0000;
    color: #ffffff;
}

.cart-table td {
    font-size: 16px;
    color: #333;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.remove-btn {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-btn:hover {
    background-color: #cc0000;
}


.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.cart-summary p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

#checkout-btn {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.footer-about h2 {
    font-size: 18px;
    color: #ff0000;
    margin-bottom: 10px;
}

.footer-about p {
    font-size: 14px;
    color: #ccc;
    margin: 0;
    max-width: 600px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}